{{ define "about"}}
<h2>About Jambobiz.com</h2>
<div>
    Jambobiz.com is a e-commerce platform that aims to bring together buyers and sellers across Africa and the world. Launched in 2018, it aimed to connect the entire world as a global market for suppliers, persons or entity to market and sell their products.
</div>
<h2>Our Mission</h2>
<div>
    Our Mission
    We aim to connect remote suppliers to the global market and facilitate trade globalization. We provide the tools necessary to establish a global audience for their products in a more user friendly manner.
        
</div>
{{ end }}