{{ define "header" }}
<header id="m-header" class="fw f-f_cw">
    <div class="fw first-div f-f_rn j-c_sbetween a-i_center">
        <div class="h-logo f-f_rn a-i_center">
            <div class="fh">
                <i class="material-icons md-primary md-24">menu</i>
            </div>
            <div class="fh">
                <h4>Jambobiz</h4>
            </div>
        </div>
        <div class="h-actions f-f_rn fh a-i_center j-c_fend">
            <div class="f-f_rn icon-area">
                <span></span>
                <div class="notification-icon" title="Shopping Cart">
                    <i class="material-icons md-24 md-primary-light">shopping_cart</i>							
                </div>
            </div>
            <div class="f-f_rn icon-area j-c_center">
                <span></span>
                <div class="notification-icon" title="Notifications">
                    <i class="material-icons md-primary-light md-24">notifications</i>
                </div>
            </div>
            <div class="f-f_rn icon-area">
                <span></span>
                <div class="notification-icon" title="Login efeebfyebfhdfhhv">
                    <i class="material-icons md-primary-light md-24">person</i>
                </div>
            </div>
        </div>
    </div>
    <div class="second-div">
        <div class="fw relative">
            <label class="absolute f-f_rn j-c_center a-i_center">
                <span class="flex j-c_center a-i_center" style="margin-right: 5px; margin-top: 3px;">
                    <i class="material-icons md-dark-light md-24">search</i>
                </span>
                Search Products, Suppliers and Quotes
            </label>
            <input type="text" class="fw">
        </div>
    </div>
</header>
{{ end }}