{{ define "nav"}}
<div class="fw">
    <nav class="fw fh" id="nav">
        <div class="fw fh">
            <ul class="fw flex fh">
                    <li class="inline-flex fh">
                        <a 
                            href="/about" 
                            class=""
                        >About</a>
                    </li>
                    <li class="inline-flex fh">
                        <a 
                            href="/terms-of-service" 
                            class=""
                        >Terms of Services</a>
                    </li>
                    <li class="inline-flex fh">
                        <a 
                            href="/privacy-policy" 
                            class=""
                        >Privacy Policy</a>
                    </li>
            </ul>
        </div>
    </nav>
    <script src="/src/index.js"></script>
</div>
{{ end }}